.left, .right {
    background-color: black;
    height: 100vh;
}
.center {
    background-image: url("../static/images/SVG/background.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center; 
    /* box-shadow: black; */
}

