{% extends "base.html" %} 
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock link %}

{%block title%}Game Luyên gõ Phím{%endblock%}


{%block content%}
<div class="container1">
    <h1 class="game" >GAME</h1>
    <h2 class="luyengophim"> Luyện Gõ Phím </h2>
    <ul>
        <li><a class="list_view" id="levelScreen" href="{{ url_for('levelScreen.LevelScreenGet') }}">Bắt Đầu</a></li>
        <li><a class="list_view" id="personalReview" href="/personalReview">Đánh Giá Cá Nhân</a></li>
        <li><a class="list_view" id="leaderBoard" href="/leaderBoard">Bảng Xếp Hạng</a></li>
        <li><a class="list_view" id="" href="/">Cài Đặt</a></li>        
    </ul>

</div>
<div class="user">
    {% if user.is_authenticated %}
    <p class="inline-css text-secondary">Chào {{user.first_name}}</p>
    
    <a class="nav-item nav-link inline-css" id="logout" href="/logout"> Logout</a>
    {% else %}
    <a class="nav-item nav-link" id="login" href="/login">Login</a>
    {% endif %}

</div>

{%endblock%}