{% extends "base.html" %} 
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock link %}

{%block title%}Game Luyên gõ Phím{%endblock%}


{%block content%}
<div class="container1">
    <h1 class="game" >GAME</h1>
    <h2 class="luyengophim"> Luyện Gõ Phím </h2>
    <ul>
        <li><a class="list_view" id="levelScreen" href="/levelScreen">Bắt Đầu</a></li>
        <li><a class="list_view" id="" href="/">Đánh Giá Cá Nhân</a></li>
        <li><a class="list_view" id="login" href="/login">Bảng Xếp Hạng</a></li>
        <li><a class="list_view" id="clearLevel" href="/clearLevel">Clear Level</a></li>
    </ul>

</div>
{%endblock%}